{% extends 'events/base.html' %}

{% block content_title %}Eventos Disponibles{% endblock %}

{% block content %}

{% if events %}
    <ul>
    {% for event in events %}

    <li>Event name:   <b>{{ event.name.html }}   </b> |
        Event start:  <b>{{ event.start.local }} </b> |
        Event end:    <b>{{ event.end.local }}   </b> |
        Event status: <b>{{ event.status }}.     </b>
    </li>

    {% endfor %}
    </ul>

{% else %}
    <p>No tienes ningún evento.</p>
{% endif %}

{% endblock %}